{% extends "base.jinja2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block body %}
	<div class="header-content clearfix">
			
				<div class="col-sm-6">
					<h1>Студенческий Строительный Отряд “Импульс” УПИ РТФ</h1>

					<ul>
						<li>САМЫЙ СТАРЫЙ ДЕЙСТВУЮЩИЙ ОТРЯД В РОССИИ!</li>
					</ul>
					<br>
					<a href="#" class="button">Вступить в отряд</a>

				</div>

				<div class="col-sm-6">
					
					<div class="top-img-wrap hidden-xs">
						<img class="responsive-img" src="/static/img/header_img.jpg" alt="ССО Импульс">
					</div>

				</div>
				
				<div class="col-sm-12">
					<div class="mw-wrapper">
						<div class="mouse-icon"><div class="wheel"></div></div>
					</div>
				</div>	
				

			</div>

		</div>
		
	</div>

	</header>
	<section class="s-wide s-dark s-adv">
		
		<div class="container">
			<div class="row">
				
				<div class="col-md-4 col-sm-6">
					<div class="s-adv-item">
						<h3>Обильное участие в университетских мероприятиях</h3>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="s-adv-item">
						<h3>С <span data-count="1964"></span> года <br>в отрядном движении</h3>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="s-adv-item">
						<h3>Огромное развитие <br>творческого потенциала</h3>
					</div>
				</div>

			</div>
		</div>

	</section>

	<section class="s-wide s-green s-achiv">
		
		<div class="container">
			<div class="row">
				
				<div class="col-sm-5">
					
					<div class="home-gallery-wrap mfp-gallery">

						<a href="img/photos/1.jpg" class="gallery-tizer-wrap" style="background-image: url(img/gallery-img.jpg);">
							<div class="tizer-triangle"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
							<div class="table">
								<div class="tr">
									<div class="td">
										<span>
											<i class="fa fa-play-circle" aria-hidden="true"></i><br>
											Галерея
										</span>
									</div>
								</div>
							</div>
						</a>

						<a href="/static/img/photos/2.jpg"></a>
						<a href="/static/img/photos/3.jpg"></a>
						<a href="/static/img/photos/4.jpg"></a>

					</div>
					
				</div>

				<div class="col-sm-7">
					<h2>Наши достижения в творчестве и спорте</h2>
					<p>За всё время проведения Всероссийского фестиваля песни "Знаменка", нашим отрядом было получено большое количество наград. И по сегодняшний день невозможно представить Знаменку без бойцов ССО "Импульс"!</p>
					<p>Помимо песен, мы стремимся покорить и другие творческие вершины, регулярно выступая в танцевальных конкурсах. Конечно же и тут не обходится без наград.</p><p>Неотъемлемой частью жизни отряда является спортивная деятельность. Мы активно участвуем как в областных соревнованиях, так и от штаба Уральского Федерального. Похвастаться выдающимися результатами не можем, но призовые места по футболу<br> мы занимали: третье место в турнире по футболу на Знаменке и аналогичный результат <br>в турнире по футболу на Всероссийской студенческой стройке в Академическом!</p>

				</div>

			</div>
		</div>

	</section>

	<section class="s-wide s-direct">
		
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					<h2>Основные направления работы</h2>
				</div>

				<div class="col-sm-3">
					
					<div class="item-vertical">
						<img class="img-svg" src="/static/img/dirwork/1.svg" alt="Кладка">
						<h3>Каменная кладка</h3>
					</div>

				</div>
				<div class="col-sm-3">
					
					<div class="item-vertical">
						<img class="img-svg" src="/static/img/dirwork/2.svg" alt="Монолит">
						<h3>Монолит</h3>
					</div>

				</div>
				<div class="col-sm-3">
					
					<div class="item-vertical">
						<img class="img-svg" src="/static/img/dirwork/3.svg" alt="Демонтаж">
						<h3>Демонтаж</h3>
					</div>

				</div>
				<div class="col-sm-3">
					
					<div class="item-vertical">
						<img class="img-svg" src="/static/img/dirwork/4.svg" alt="Штукатурка">
						<h3>Штукатурка</h3>
					</div>

				</div>

			</div>
		</div>

	</section>
{% endblock %}

{% block load %}
{{ super() }}
{% endblock %}