<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">

	<title>Заголовок</title>
	<meta name="description" content="">

	<!-- Bootstrap v3.3.4 Grid Styles -->
	
	<!-- Header CSS (First Sections of Website: paste after release from _header.min.css here) -->
	<style></style>
	
	<!-- Load Main CSS Compilled without JS 
	<link rel="stylesheet" href="/static/kek.css">
	<link rel="stylesheet" href="/static/_main.min.css">
	<link rel="stylesheet" href="/static/_header.min.css">-->
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="shortcut icon" href="/static/img/favicon/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/static/img/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon/apple-touch-icon-114x114.png">

</head>

<body class="ishome">

	<header class="main-head">
		
	<div class="container">
		
		<div class="row">
			
			<div class="menu-line clearfix">
				
				<div class="col-lg-2 col-lg-4 col-md-6 col-sm-6 col-xs-12">
					<a href="#" class="logo"><img src="/static/img/logo.png" alt="ССО Импульс"></a>
				</div>
			
				<div class="col-lg-2 col-lg-push-8 col-md-6 col-sm-6 col-xs-12">
					<div class="phone">
						<div class="phone-wrap">
							Командир: Костя Малахов<br>
							<i class="fa fa-mobile"></i>+7 (902) 501-34-25<br>
							Комиссар: Денис Русев<br>
							<i class="fa fa-mobile"></i>+7 (953) 002-36-43
						</div>
					</div>	

					<a href="#" class="toggle-menu hidden-lg"><span></span></a>

				</div>

				<div class="col-sm-8 col-md-pull-2">
					
					<nav class="main-menu hidden-md hidden-sm hidden-xs"><ul>
						<li class="active"><a href="{{request.route_url('home')}}">Главная </a></li>
						<li><a href="{{request.route_url('songs')}}">Песни</a></li>
						<li><a href="#">История</a></li>
						<li><a href="#">Бойцы и старики</a></li>
						<li><a href="#">Архив фото</a></li>
						<li>{% if not view.logged_in %}
            					<a href="/login">Авторизация</a>
							{% endif %}
							{% if view.logged_in %}
            					<a href="/logout">Logout</a>
							{% endif %}
						</li>
					</ul>
					</nav>
				</div>

				<div class="col-xs-12">
					<nav class="main-menu hidden-menu hidden-lg clearfix">
						<ul>
							<li class="active"><a href="{{request.route_url('home')}}">Главная </a></li>
							<li><a href="{{request.route_url('songs')}}">Песни</a></li>
							<li><a href="#">История</a></li>
							<li><a href="#">Бойцы и старики</a></li>
							<li><a href="#">Архив фото</a></li>
							<li><a href="#">Авторизация</a></li>
						</ul>
					</nav>
				</div>
				

			</div>

			<div class="header-content clearfix">
			
				<div class="col-sm-6">
					<h1>Студенческий Строительный Отряд “Импульс” УПИ РТФ</h1>

					<ul>
						<li>САМЫЙ СТАРЫЙ ДЕЙСТВУЮЩИЙ ОТРЯД В РОССИИ!</li>
					</ul>
					<br>
					<a href="#" class="button">Вступить в отряд</a>

				</div>

				<div class="col-sm-6">
					
					<div class="top-img-wrap hidden-xs">
						<img class="responsive-img" src="/static/img/header_img.jpg" alt="ССО Импульс">
					</div>

				</div>
				
				<div class="col-sm-12">
					<div class="mw-wrapper">
						<div class="mouse-icon"><div class="wheel"></div></div>
					</div>
				</div>	
				

			</div>

		</div>

		

	</div>

	</header>

	<section class="s-wide s-dark s-adv">
		
		<div class="container">
			<div class="row">
				
				<div class="col-md-4 col-sm-6">
					<div class="s-adv-item">
						<h3>Обильное участие в университетских мероприятиях</h3>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="s-adv-item">
						<h3>С <span data-count="1964"></span> года <br>в отрядном движении</h3>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="s-adv-item">
						<h3>Огромное развитие <br>творческого потенциала</h3>
					</div>
				</div>

			</div>
		</div>

	</section>

	<section class="s-wide s-green s-achiv">
		
		<div class="container">
			<div class="row">
				
				<div class="col-sm-5">
					
					<div class="home-gallery-wrap mfp-gallery">

						<a href="img/photos/1.jpg" class="gallery-tizer-wrap" style="background-image: url(img/gallery-img.jpg);">
							<div class="tizer-triangle"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
							<div class="table">
								<div class="tr">
									<div class="td">
										<span>
											<i class="fa fa-play-circle" aria-hidden="true"></i><br>
											Галерея
										</span>
									</div>
								</div>
							</div>
						</a>

						<a href="/static/img/photos/2.jpg"></a>
						<a href="/static/img/photos/3.jpg"></a>
						<a href="/static/img/photos/4.jpg"></a>

					</div>
					



				</div>

				<div class="col-sm-7">
					<h2>Наши достижения в творчестве и спорте</h2>
					<p>За всё время проведения Всероссийского фестиваля песни "Знаменка", нашим отрядом было получено большое количество наград. И по сегодняшний день невозможно представить Знаменку без бойцов ССО "Импульс"!</p>
					<p>Помимо песен, мы стремимся покорить и другие творческие вершины, регулярно выступая в танцевальных конкурсах. Конечно же и тут не обходится без наград.</p><p>Неотъемлемой частью жизни отряда является спортивная деятельность. Мы активно участвуем как в областных соревнованиях, так и от штаба Уральского Федерального. Похвастаться выдающимися результатами не можем, но призовые места по футболу<br> мы занимали: третье место в турнире по футболу на Знаменке и аналогичный результат <br>в турнире по футболу на Всероссийской студенческой стройке в Академическом!</p>

				</div>

			</div>
		</div>

	</section>

	<section class="s-wide s-direct">
		
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					<h2>Основные направления работы</h2>
				</div>

				<div class="col-sm-3">
					
					<div class="item-vertical">
						<img class="img-svg" src="/static/img/dirwork/1.svg" alt="Кладка">
						<h3>Каменная кладка</h3>
					</div>

				</div>
				<div class="col-sm-3">
					
					<div class="item-vertical">
						<img class="img-svg" src="/static/img/dirwork/2.svg" alt="Монолит">
						<h3>Монолит</h3>
					</div>

				</div>
				<div class="col-sm-3">
					
					<div class="item-vertical">
						<img class="img-svg" src="/static/img/dirwork/3.svg" alt="Демонтаж">
						<h3>Демонтаж</h3>
					</div>

				</div>
				<div class="col-sm-3">
					
					<div class="item-vertical">
						<img class="img-svg" src="/static/img/dirwork/4.svg" alt="Штукатурка">
						<h3>Штукатурка</h3>
					</div>

				</div>

			</div>
		</div>

	</section>

	<div class="hidden"></div>

	<!--[if lt IE 9]>
	<script src="/static/libs/html5shiv/es5-shim.min.js"></script>
	<script src="/static/libs/html5shiv/html5shiv.min.js"></script>
	<script src="/static/libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="/static/libs/respond/respond.min.js"></script>
	<![endif]-->

	<!-- Load CSS -->
	<script>
		function loadCSS(hf) {
			var ms=document.createElement("link");ms.rel="stylesheet";
			ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
		}
		loadCSS("/static/kek.css");
		loadCSS("/static/_header.min.css"); //Header Styles (compress & paste to header after release)
		loadCSS("/static/_main.min.css");   //User Styles + Media Queries
	</script>

	<!-- Load Scripts -->
	<script>var scr = {"scripts":[
		{"src" : "/static/js/libs.js", "async" : false},
		{"src" : "/static/js/common.js", "async" : false}
		]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
	</script>

</body>
</html>