{% extends "base.jinja2" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block menu %}
{{ super() }}
{% endblock %}

{% block body %}
Список песен: 
{% for song in songs %}
    {{song.SongTitle}}<br>
{% endfor %}
<a href ="{{request.route_url('addSong')}}">Добавить Песню</a>
</div></div>
{% endblock %}

{% block load %}
{{ super() }}
{% endblock %}